pkgbase = media-tools
	pkgdesc = A collection of media manipulation scripts.
	pkgver = 0.0.0.1.1.1.1.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/media-tools
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	depends = ffmpeg
	depends = libcrash-bash
	source = media-tools-fdcc9332e6f90e032c6a74367e01c5d3b736dea4.zip::https://github.com/themartiancompany/media-tools/archive/fdcc9332e6f90e032c6a74367e01c5d3b736dea4.zip
	sha256sums = 4768d429d74fe682e1025f088f05077638f2e27e1f79724c519ccf335ee97cf3

pkgname = media-tools
